.ticket-col{

	&--left{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 20px;
		border-right: 1px solid #ECEFF1;
	}

	&--right{
		display: flex;
		flex-grow: 1;
		padding-left: 25px;
	}

}